*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/main filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.cur filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.xpm filter=lfs diff=lfs merge=lfs -text
include !text !filter !merge !diff
* !text !filter !merge !diff
include/.vs/wxWidgets/v17/ipch/6798fe72c2588761.ipch filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/ipch/AutoPCH/179dd997efee2e90/MINIMAL.ipch filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/ipch/5ba2c6f3489dae8e.ipch filter=lfs diff=lfs merge=lfs -text
include/libs/core/wxcore.dir/Debug/wxmsw32ud_core_vc_custom.ilk filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/ipch/15da945c722a076e.ipch filter=lfs diff=lfs merge=lfs -text
