*ipch filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/main filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.cur filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.xpm filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.git-blame-ignore-revs filter=lfs diff=lfs merge=lfs -text
*.mailmap filter=lfs diff=lfs merge=lfs -text
*.vsidx filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.result filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.lua filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/132html filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/AUTHORS filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/COPYING filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/ChangeLog filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/CheckMan filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/CleanTxt filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/Detrail filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/HACKING filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/INSTALL filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/LICENCE filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/NEWS filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/NON-AUTOTOOLS-BUILD filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/PrepareRelease filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/README filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/RunGrepTest filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/RunTest filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/ar-lib filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/cmake/COPYING-CMAKE-SCRIPTS filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/compile filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/configure filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/depcomp filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.src filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/install-sh filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/maint/ManyConfigTests filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/maint/README filter=lfs diff=lfs merge=lfs -text
*.non-standard filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/maint/ucptestdata/testinput1 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/maint/ucptestdata/testinput2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/maint/ucptestdata/testoutput1 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/maint/ucptestdata/testoutput2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/missing filter=lfs diff=lfs merge=lfs -text
*.dict filter=lfs diff=lfs merge=lfs -text
*.options filter=lfs diff=lfs merge=lfs -text
*.generic filter=lfs diff=lfs merge=lfs -text
*.dist filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/test-driver filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepbinary filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepfilelist filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepinput filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepinput3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepinput8 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepinputM filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepinputv filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepinputx filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/greplist filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepoutput filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepoutput8 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepoutputC filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepoutputCN filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/grepoutputN filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/greppatN4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testbtables filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput1 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput10 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput11 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput12 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput13 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput14 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput15 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput16 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput17 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput18 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput19 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput20 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput21 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput22 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput23 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput24 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput25 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput5 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput6 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput7 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput8 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinput9 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testinputEBC filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput1 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput10 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput11-16 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput11-32 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput12-16 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput12-32 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput13 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput14-16 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput14-32 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput14-8 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput15 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput16 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput17 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput18 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput19 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput20 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput21 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput22-16 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput22-32 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput22-8 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput23 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput24 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput25 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput3A filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput3B filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput5 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput6 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput7 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-16-2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-16-3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-16-4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-32-2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-32-3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-32-4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-8-2 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-8-3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput8-8-4 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutput9 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/testoutputEBC filter=lfs diff=lfs merge=lfs -text
*.supp filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/wintestinput3 filter=lfs diff=lfs merge=lfs -text
/include/3rdparty/pcre/testdata/wintestoutput3 filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.rule filter=lfs diff=lfs merge=lfs -text
*.recipe filter=lfs diff=lfs merge=lfs -text
*.tlog filter=lfs diff=lfs merge=lfs -text
*.lastbuildstate filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.check_cache filter=lfs diff=lfs merge=lfs -text
*.stamp filter=lfs diff=lfs merge=lfs -text
*.depend filter=lfs diff=lfs merge=lfs -text
*.list filter=lfs diff=lfs merge=lfs -text
/include/build/autoconf_prepend-include/Makefile filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.bkgen filter=lfs diff=lfs merge=lfs -text
/include/build/bakefiles/README filter=lfs diff=lfs merge=lfs -text
*.bkl filter=lfs diff=lfs merge=lfs -text
/include/build/cmake/modules/cotire_test/license filter=lfs diff=lfs merge=lfs -text
*.abi filter=lfs diff=lfs merge=lfs -text
/include/build/files filter=lfs diff=lfs merge=lfs -text
*.gcc filter=lfs diff=lfs merge=lfs -text
*.vc filter=lfs diff=lfs merge=lfs -text
*.props filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.iss filter=lfs diff=lfs merge=lfs -text
/include/build/update-setup-h filter=lfs diff=lfs merge=lfs -text
/include/build/upmake filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
/include/configure filter=lfs diff=lfs merge=lfs -text
*.mms filter=lfs diff=lfs merge=lfs -text
*.unx filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.lif filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.idx filter=lfs diff=lfs merge=lfs -text
/include/distrib/autopackage/makeautopackage filter=lfs diff=lfs merge=lfs -text
/include/distrib/autopackage/sample/README filter=lfs diff=lfs merge=lfs -text
*.apspec filter=lfs diff=lfs merge=lfs -text
/include/distrib/mac/pbsetup-sh filter=lfs diff=lfs merge=lfs -text
/include/docs/doxygen/Doxyfile filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.dia filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
/include/install-sh filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.opt filter=lfs diff=lfs merge=lfs -text
*.hxx filter=lfs diff=lfs merge=lfs -text
*.cxx filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
/include/locale/Makefile filter=lfs diff=lfs merge=lfs -text
*.mo filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.pot filter=lfs diff=lfs merge=lfs -text
/include/misc/languages/README filter=lfs diff=lfs merge=lfs -text
*.natvis filter=lfs diff=lfs merge=lfs -text
/include/misc/schema/README filter=lfs diff=lfs merge=lfs -text
*.rnc filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/check_unused_headers filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/clean_patch filter=lfs diff=lfs merge=lfs -text
*.ignore filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/inc_release filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/inc_year filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/makegtktags filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/makeqttags filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/set_install_name filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/show_dll_exports filter=lfs diff=lfs merge=lfs -text
/include/misc/scripts/spellcheck filter=lfs diff=lfs merge=lfs -text
/include/misc/suppressions/codespell-lines filter=lfs diff=lfs merge=lfs -text
/include/misc/suppressions/codespell-words filter=lfs diff=lfs merge=lfs -text
/include/misc/suppressions/lsan filter=lfs diff=lfs merge=lfs -text
/include/misc/theme_test/Makefile filter=lfs diff=lfs merge=lfs -text
/include/misc/unictabl/README filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
/include/mkinstalldirs filter=lfs diff=lfs merge=lfs -text
/include/regen filter=lfs diff=lfs merge=lfs -text
*.ani filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.vms filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.cnt filter=lfs diff=lfs merge=lfs -text
*.hhc filter=lfs diff=lfs merge=lfs -text
*.hhk filter=lfs diff=lfs merge=lfs -text
*.hhp filter=lfs diff=lfs merge=lfs -text
*.hlp filter=lfs diff=lfs merge=lfs -text
*.hpj filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
/include/samples/htlbox/results filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pcx filter=lfs diff=lfs merge=lfs -text
*.pnm filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.xbm filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.plc filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.pov filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
*.xrc filter=lfs diff=lfs merge=lfs -text
*.h_vms filter=lfs diff=lfs merge=lfs -text
/include/src/expat/Brewfile filter=lfs diff=lfs merge=lfs -text
*.clang-format filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/AUTHORS filter=lfs diff=lfs merge=lfs -text
*.README filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/COPYING filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/Changes filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/configure filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/conftools/ar-lib filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/conftools/compile filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/conftools/depcomp filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/conftools/install-sh filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/conftools/missing filter=lfs diff=lfs merge=lfs -text
/include/src/expat/expat/conftools/test-driver filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*.expected filter=lfs diff=lfs merge=lfs -text
/include/src/jpeg/README filter=lfs diff=lfs merge=lfs -text
/include/src/jpeg/ar-lib filter=lfs diff=lfs merge=lfs -text
*.bcc filter=lfs diff=lfs merge=lfs -text
*.dj filter=lfs diff=lfs merge=lfs -text
*.mac filter=lfs diff=lfs merge=lfs -text
*.manx filter=lfs diff=lfs merge=lfs -text
*.mc6 filter=lfs diff=lfs merge=lfs -text
*.sas filter=lfs diff=lfs merge=lfs -text
*.st filter=lfs diff=lfs merge=lfs -text
*.wat filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.ppm filter=lfs diff=lfs merge=lfs -text
/include/src/motif/mdi/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/include/src/motif/mdi/Imakefile filter=lfs diff=lfs merge=lfs -text
/include/src/motif/mdi/README filter=lfs diff=lfs merge=lfs -text
*.rules filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
/include/src/motif/mdi/lib/Imakefile filter=lfs diff=lfs merge=lfs -text
*.C filter=lfs diff=lfs merge=lfs -text
/include/src/motif/mdi/test/Imakefile filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.man filter=lfs diff=lfs merge=lfs -text
/include/src/png/ANNOUNCE filter=lfs diff=lfs merge=lfs -text
/include/src/png/AUTHORS filter=lfs diff=lfs merge=lfs -text
/include/src/png/CHANGES filter=lfs diff=lfs merge=lfs -text
/include/src/png/INSTALL filter=lfs diff=lfs merge=lfs -text
/include/src/png/LICENSE filter=lfs diff=lfs merge=lfs -text
/include/src/png/README filter=lfs diff=lfs merge=lfs -text
/include/src/png/TODO filter=lfs diff=lfs merge=lfs -text
/include/src/png/TRADEMARK filter=lfs diff=lfs merge=lfs -text
*.S filter=lfs diff=lfs merge=lfs -text
/include/src/png/compile filter=lfs diff=lfs merge=lfs -text
/include/src/png/configure filter=lfs diff=lfs merge=lfs -text
/include/src/png/depcomp filter=lfs diff=lfs merge=lfs -text
/include/src/png/install-sh filter=lfs diff=lfs merge=lfs -text
/include/src/png/missing filter=lfs diff=lfs merge=lfs -text
*.5 filter=lfs diff=lfs merge=lfs -text
*.dfa filter=lfs diff=lfs merge=lfs -text
/include/src/png/test-driver filter=lfs diff=lfs merge=lfs -text
/include/src/regex/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/include/src/regex/README filter=lfs diff=lfs merge=lfs -text
*.n filter=lfs diff=lfs merge=lfs -text
*.vcp filter=lfs diff=lfs merge=lfs -text
/include/src/richtext/readme filter=lfs diff=lfs merge=lfs -text
*.pjd filter=lfs diff=lfs merge=lfs -text
*.iface filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/COMMITTERS filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/ChangeLog filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/HOWTO-RELEASE filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/HOWTO-SECURITY-RELEASE filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/RELEASE-DATE filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/SConstruct filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/TODO filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/VERSION filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/build/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/build/gitlab-ci filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/build/travis-ci filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/config/compile filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/config/depcomp filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/config/install-sh filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/config/missing filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/config/test-driver filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/configure filter=lfs diff=lfs merge=lfs -text
*.com filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/addtiffo/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/dbs/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/dbs/xtiff/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/iptcutil/README filter=lfs diff=lfs merge=lfs -text
*.iptc filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/mfs/README filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/pds/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/ras/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/stream/README filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/contrib/tags/README filter=lfs diff=lfs merge=lfs -text
*.w95 filter=lfs diff=lfs merge=lfs -text
*.Tiffile filter=lfs diff=lfs merge=lfs -text
*.tiff2dib filter=lfs diff=lfs merge=lfs -text
*.lcc filter=lfs diff=lfs merge=lfs -text
/include/src/tiff/libtiff/SConstruct filter=lfs diff=lfs merge=lfs -text
*.h-vms filter=lfs diff=lfs merge=lfs -text
*.3tiff filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.pgm filter=lfs diff=lfs merge=lfs -text
*.g3 filter=lfs diff=lfs merge=lfs -text
*.pbm filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.spec filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/ChangeLog filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/FAQ filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/INDEX filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/LICENSE filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/Makefile filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/README filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/configure filter=lfs diff=lfs merge=lfs -text
*.bor filter=lfs diff=lfs merge=lfs -text
*.msc filter=lfs diff=lfs merge=lfs -text
*.cmakein filter=lfs diff=lfs merge=lfs -text
/include/src/zlib/zlib2ansi filter=lfs diff=lfs merge=lfs -text
/include/tests/benchmarks/htmlparser/README filter=lfs diff=lfs merge=lfs -text
*.test filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.wxe filter=lfs diff=lfs merge=lfs -text
*.dtd filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
include !text !filter !merge !diff
* !text !filter !merge !diff
include/.vs/wxWidgets/v17/ipch/6798fe72c2588761.ipch filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/ipch/AutoPCH/179dd997efee2e90/MINIMAL.ipch filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/ipch/5ba2c6f3489dae8e.ipch filter=lfs diff=lfs merge=lfs -text
include/libs/core/wxcore.dir/Debug/wxmsw32ud_core_vc_custom.ilk filter=lfs diff=lfs merge=lfs -text
include/.vs/wxWidgets/v17/ipch/15da945c722a076e.ipch filter=lfs diff=lfs merge=lfs -text
